<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	The <a href="http://railstutorial.org/">site</a>
	is a project under sir Francis's CS112 Programming Language class. This
	is the 5th homework which enables us to learn Ruby concepts.
	</p>
</p>