<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help on this Shopping Cart Help at the
	<a href="http://railstutorial.org/help">this page page</a>.
	To get help on this application, see
	<a href="http://railstutorial.org/book">this one</a>.
</p>