<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Sularteshoppingcart</title>
=======
  <title>Cart</title>
>>>>>>> 929a8b7df4b79efeb2e27943eeb0b5bceebb9a04
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
